form {
    margin: 50px;
    padding: 10px;
    border-radius: 1%;
    background-color: #d9dcdd;
  }

  .sticky-button {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 1000;
    display: grid;
  }

  #tableHolder {
    margin: 50px;
    padding: 10px;
    border-radius: 1%;
  }

  .drop-zone {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
  }

  .drop-zone.dragover {
    background-color: #b6cee6;
  }