<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous" />
  <link href="./static/style.css" rel="stylesheet"
    crossorigin="anonymous" />
</head>

<body>
  <div class="overlay"></div>
  <form action="#" id="form">
  </form>

  <div class="sticky-button">
    <button class="btn btn-primary mt-1" onclick='download(JSON.stringify(user), "user.json", "text/plain")'>
      Download JSON
    </button>
    <button class="btn btn-primary mt-1" onclick='webSaveUser();'>
      Save to Browser
    </button>
  </div>

  <!-- Table of food items -->
  <div id="tableHolder">
    <table id="table" class="table"></table>
  </div>

  <div class="container my-5">
    <div class="drop-zone py-4" id="drop-zone">Drop JSON files here</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
    <script src="./static/helper-scripts.js" defer></script>
    <script src="./static/user-script.js" defer></script>

</body>

</html>